
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;

  font-family: font-family: "Times New Roman", Times, serif;
  background-image: url('realgold.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
  
  }

.page-title {
  margin-top:20px;
  margin-bottom: 2px;
  font-family: font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 40px; 
  margin-bottom:
}

.objective {
  border: 4px solid #000;
  text-align: center;
  padding: 30px;
}

.education {
  border: 4px solid #000;
  text-align: left;
  padding: 20px;
}
.experience {
  border: 4px solid #000;
  text-align: left;
  padding: 20px;
}
  
nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}
  
  
  
