
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}
  font-family: font-family: "Times New Roman", Times, serif;
  background-image: url('goldbackground.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;

.page-title {
  margin-top:20px;
  margin-bottom: 2px;
  font-family: font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 40px; 
  margin-bottom:
}

.email {
  margin-top:1px;
  margin-bottom:2px;
  text-align:center;
  font-family: font-family: "Times New Roman", Times, serif;
  font-size:20px;
}
.phone {
   text-align:center;
  margin-top:1px;
  margin-bottom:2px;
  font-family: font-family: "Times New Roman", Times, serif;
  font-size:20px;
}

.page-description {
  border: 1px solid #000;
  text-align: center;
  padding: 30px;
}
  
nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}
  
  
  
